<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/rabbit  http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

      <rabbit:connection-factory id="connectionFactory" host="${rabbit.host}" port="${rabbit.port}" username="${rabbit.username}"
       password="${rabbit.passwd}" />

      <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory" encoding="${system.encoding.default}"
       exchange="myExchange" routing-key="user.bar"/>


      <rabbit:admin connection-factory="connectionFactory" />

      <bean id="user" class="com.xwolf.eop.system.entity.User"/>

</beans>