<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwolf.eop.system.dao.CodesMapper">
	<!--开启二级缓存-->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<resultMap id="BaseResultMap" type="com.xwolf.eop.system.entity.Codes">
		<id column="cid" property="cid" />
		<result column="code" property="code" />
		<result column="cvalue" property="cvalue" />
		<result column="cname" property="cname" />
		<result column="ctime" property="ctime" />
		<result column="corder" property="corder" />
		<result column="cstatus" property="cstatus" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        cid, code, cvalue, cname, ctime, corder, cstatus
    </sql>
</mapper>
