<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwolf.eop.system.dao.MenusMapper">
	<!--开启二级缓存-->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<resultMap id="BaseResultMap" type="com.xwolf.eop.system.entity.Menus">
		<id column="mid" property="mid" />
		<result column="mcode" property="mcode" />
		<result column="mname" property="mname" />
		<result column="pcode" property="pcode" />
		<result column="is_parent" property="parent" />
		<result column="murl" property="murl" />
		<result column="mstatus" property="mstatus" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        mid, mcode, mname, pcode, is_parent AS parent, murl, mstatus
    </sql>
</mapper>
