<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xwolf.eop.system.dao.MenuPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.xwolf.eop.system.entity.MenuPermission" >
    <id column="rid" property="rid" jdbcType="INTEGER" />
    <result column="mcode" property="mcode" jdbcType="VARCHAR" />
    <result column="pcode" property="pcode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rid, mcode, pcode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from com_menu_permission
    where rid = #{rid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from com_menu_permission
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xwolf.eop.system.entity.MenuPermission" >
    insert into com_menu_permission (rid, mcode, pcode
      )
    values (#{rid,jdbcType=INTEGER}, #{mcode,jdbcType=VARCHAR}, #{pcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xwolf.eop.system.entity.MenuPermission" >
    insert into com_menu_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        rid,
      </if>
      <if test="mcode != null" >
        mcode,
      </if>
      <if test="pcode != null" >
        pcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="mcode != null" >
        #{mcode,jdbcType=VARCHAR},
      </if>
      <if test="pcode != null" >
        #{pcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xwolf.eop.system.entity.MenuPermission" >
    update com_menu_permission
    <set >
      <if test="mcode != null" >
        mcode = #{mcode,jdbcType=VARCHAR},
      </if>
      <if test="pcode != null" >
        pcode = #{pcode,jdbcType=VARCHAR},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xwolf.eop.system.entity.MenuPermission" >
    update com_menu_permission
    set mcode = #{mcode,jdbcType=VARCHAR},
      pcode = #{pcode,jdbcType=VARCHAR}
    where rid = #{rid,jdbcType=INTEGER}
  </update>
</mapper>