<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwolf.eop.system.dao.RolesMapper">
	<!--开启二级缓存-->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<resultMap id="BaseResultMap" type="com.xwolf.eop.system.entity.Roles">
		<id column="rid" property="rid" />
		<result column="rcode" property="rcode" />
		<result column="rname" property="rname" />
		<result column="rpcode" property="rpcode" />
		<result column="rtime" property="rtime" />
		<result column="rstatus" property="rstatus" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        rid, rcode, rname, rpcode, rtime, rstatus
    </sql>
</mapper>
