<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xwolf.eop.system.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.xwolf.eop.system.entity.User" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="ucode" property="ucode" jdbcType="VARCHAR" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="upasswd" property="upasswd" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="ccode" property="ccode" jdbcType="VARCHAR" />
    <result column="rcode" property="rcode" jdbcType="VARCHAR" />
    <result column="rtime" property="rtime" jdbcType="TIMESTAMP" />
    <result column="ustatus" property="ustatus" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, ucode, uname, nick_name, upasswd, email, qq, mobile, ctime, ccode, rcode, rtime, 
    ustatus
  </sql>

  <sql id="Base_Column_List_Security" >
    uid, ucode, uname, nick_name, email, qq, mobile, ctime, ccode, rcode, rtime,
    ustatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from com_user
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from com_user
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xwolf.eop.system.entity.User" >
    insert into com_user (uid, ucode, uname, 
      nick_name, upasswd, email, 
      qq, mobile, ctime, 
      ccode, rcode, rtime, 
      ustatus)
    values (#{uid,jdbcType=INTEGER}, #{ucode,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{upasswd,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{ctime,jdbcType=TIMESTAMP}, 
      #{ccode,jdbcType=VARCHAR}, #{rcode,jdbcType=VARCHAR}, #{rtime,jdbcType=TIMESTAMP}, 
      #{ustatus,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xwolf.eop.system.entity.User" >
    insert into com_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="ucode != null" >
        ucode,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="upasswd != null" >
        upasswd,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="ccode != null" >
        ccode,
      </if>
      <if test="rcode != null" >
        rcode,
      </if>
      <if test="rtime != null" >
        rtime,
      </if>
      <if test="ustatus != null" >
        ustatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="ucode != null" >
        #{ucode,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="upasswd != null" >
        #{upasswd,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="ccode != null" >
        #{ccode,jdbcType=VARCHAR},
      </if>
      <if test="rcode != null" >
        #{rcode,jdbcType=VARCHAR},
      </if>
      <if test="rtime != null" >
        #{rtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ustatus != null" >
        #{ustatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xwolf.eop.system.entity.User" >
    update com_user
    <set >
      <if test="ucode != null" >
        ucode = #{ucode,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="upasswd != null" >
        upasswd = #{upasswd,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="ccode != null" >
        ccode = #{ccode,jdbcType=VARCHAR},
      </if>
      <if test="rcode != null" >
        rcode = #{rcode,jdbcType=VARCHAR},
      </if>
      <if test="rtime != null" >
        rtime = #{rtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ustatus != null" >
        ustatus = #{ustatus,jdbcType=TINYINT},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xwolf.eop.system.entity.User" >
    update com_user
    set ucode = #{ucode,jdbcType=VARCHAR},
      uname = #{uname,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      upasswd = #{upasswd,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      ccode = #{ccode,jdbcType=VARCHAR},
      rcode = #{rcode,jdbcType=VARCHAR},
      rtime = #{rtime,jdbcType=TIMESTAMP},
      ustatus = #{ustatus,jdbcType=TINYINT}
    where uid = #{uid,jdbcType=INTEGER}
  </update>

  <select id="getUserByName" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List"/> from com_user where uname=#{uname,jdbcType=VARCHAR}
  </select>

  <select id="selectUserList" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List_Security"/> from com_user
  </select>
</mapper>